<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Annonces</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="addAdvert()">
            <ion-icon name="add" ></ion-icon>
          </button>
      <button *ngIf="!idUser; else templateButton"ion-button icon-only color="royal" (click)="login()">
        <ion-icon name="log-in"></ion-icon>
      </button>
      <ng-template #templateButton>
          <button ion-button icon-only color="royal" (click)="goAccount()">
              <ion-icon name="person" ></ion-icon>
            </button>
        </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div *ngIf="advertsList">
    <ion-card *ngFor="let advert of advertsList">
      <img src="{{advert.img}}" />
      <ion-card-content>
        <ion-card-title>
          {{advert.title}}
        </ion-card-title>
      </ion-card-content>
      <ion-row no-padding>
          <ion-col text-left>
              <p>Prix : {{advert.price}}</p>
            </ion-col>
        <ion-col text-right>
          <button ion-button clear small color="danger" (click)="displayAdvert($event,advert)" icon-start>
            <ion-icon name='eye'></ion-icon>
            voir
          </button>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>

</ion-content>